</div>
<script>

function is_child_of(potential_parent, potential_child) {
  const parent_of_child = potential_child.parentElement;
  if ( !parent_of_child ) {
    return false;
  }
  if ( potential_parent == potential_child ) {
    return true;
  }
  return is_child_of(potential_parent, parent_of_child);
}

function toggle_menu(el) {
  const last_selected=document.getElementsByClassName("selected-header");

  // is the element we clicked on a child of our selected header
  if ( is_child_of(last_selected[0], el) ) {
    console.log("is_child");
  } else {
    // first we look for the last selected element that we marked with the selected-header class
    // and we hide it and remove the selected-header class.
    if ( last_selected.length != 0 && !last_selected[0].classList.contains("root")) {
      last_selected[0].classList.add("hide");
      last_selected[0].classList.remove("selected-header");
    }
  }
  // next, we toggle the section we actually want to show
  // see how we traverse the DOM tree to get from where the user clicked to
  // the element we want to act on.
  const next_sibling=el.parentElement.nextElementSibling;
  if ( next_sibling.classList.contains("hide") ) {
    next_sibling.classList.remove("hide"); 
    if (!next_sibling.classList.contains("root")) {
      next_sibling.classList.add("selected-header");
    }
  }
  else {
    // removing this shows all items
    next_sibling.classList.add("hide");
  }
}

// We "hook" into the DOMContentLoaded event that is called when the browser
// has finished loading the body.  If we didn't do this the code could be called
// before all the HTML elements have been created.
document.addEventListener('DOMContentLoaded', function() {
  const elems = document.getElementsByClassName("collapsible-header");
  // hide our root section
  elems[0].classList.add("root");
  elems[0].parentElement.nextElementSibling.classList.add("root");
  elems[0].classList.add("hide");
  // close up all the sections
  for ( el of elems ) {
    toggle_menu(el);
  }
  // open up the root section otherwise the user won't have any menu items!
  toggle_menu(elems[0]);
  // enable each section header to respond to user clicks
  for ( el of elems ) {
    el.addEventListener("click", function() {
      toggle_menu(this);
    });
  }
  // TASK: given we have found the selected item, how can we open up the parent elements
  // so user can always see it selected first?
  const selected = document.getElementsByClassName("menuitem selected")
  console.log(selected);
});
</script>
</body>
</html>
